
/*** general css - kdrama ***/

body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #39168E;
}

#header {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 156px;
}

.header {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 80px;
    color: ghostwhite;
    text-shadow: 2px 2px 8px #520088;
}

#subheader {
    height: 100px;
    padding-top: 2%;
    padding-bottom: 6%;
    margin-bottom: 30px;
    text-align:  center;
    background-color: #f8bbef;
    text-shadow:purple;
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
    color: black;
    background-image: url(https://images.pexels.com/photos/7130498/pexels-photo-7130498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-size: cover;
}

.description {
    font-size: 22px;
    font-family: 'Cormorant Upright', serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(112, 0, 122);
    position: sticky;
    top: 10px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 16px;

}

li a:hover {
    background-color: #e459dd;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}   

video.bgvid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  
#explore {
    width: 100%;
    margin-top: 23%;
    margin-top: 28px;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Cormorant Upright', serif;
    color: antiquewhite;
}

#footer {
    margin-top: 180px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: black;
    background-image: url(https://images.pexels.com/photos/7130498/pexels-photo-7130498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-size: cover;
}

/*** kdrama page ***/

#leftContent{
    width: 100px;
    height: 300px;
    padding-top: 23px;
    padding-right: 30px;
    margin-right: 160px;
    margin-bottom: 180px;
    float: left;
}

#sideL{
    padding: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    text-align: center;
    text-shadow: 2px 2px 3px #ffafe7;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: black;
    background-color: #efc7e5;   
    box-shadow: 4px 4px 5px #ae83ff;
}

#rightContent{
    width: 100px;
    padding-top: 23px;
    padding-right: 200px;
    margin-right: 0px;
    margin-bottom: 170px;
    float: right;
}

#sideR{
    padding: 30px;
    padding-left: 30px;
    padding-bottom: 160px;
    text-align: center;
    text-shadow: 2px 2px 3px #ffafe7;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: black;
    background-color: #efc7e5;   
    box-shadow: 5px 4px 5px #ae83ff;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    padding-top: -5%;
    height: 550px;
}

#kdrama {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.kdpic {
    width: 750px;
}

.textkdrama{
    width: 160px;
    height: 70px;
    margin-top: 100px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: justify;
    font-family: 'Cormorant Upright', serif;
    font-size: 26px;
    background-image: url(https://images.pexels.com/photos/7130560/pexels-photo-7130560.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=12600);
    background-position: center;
    background-size: cover;
}


img {
    display: block; 
    margin-left: auto; 
    margin-right: auto 
}













